@font-face {
  font-family: 'Incosolata';
  src: url('./Fonts/Inconsolata/Inconsolata-Regular.ttf');
}

body{
  margin: 0;
  font-family: Incosolata, sans-serif;
}
main{
  width: 100vw;
  height: 100vh;
  background-image: url(./Assets/images/bgImg.jpg);
  background-size: 100vw 100vh;
  background-repeat: no-repeat;
}

.title {
  display: flex;
  justify-content: center;
}

.temp {
  margin-top: 2rem;
  background: white !important;
}
.detailsTemp {
  opacity: 0.7;
  font-weight: bold !important;
}